<h2>By Country</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="search()" autocomplete="off">
      <input
      type="text"
      name="term"
      class="form-control"
      [(ngModel)]="term"
      placeholder="Search country...">
    </form>


  </div>
</div>

<hr>
<div *ngIf="error404" class="alert alert-danger text-center align-items-center">
  <p class="m-0">No results for: "{{ term }}"</p>
</div>

<div *ngIf="!error404" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th> Flag</th>
          <th> Name</th>
          <th> Population</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Flag</td>
          <td>Name</td>
          <td>Population</td>
          <td><a href="#">See more...</a></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
