<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>countriesApp</span>
    </mat-toolbar>
    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-counter></app-counter> -->
    <div class="row container mt-4">
      <div class="col-3">
        <h2>Searchs</h2>
        <hr>
        <ul class="list-group">
          <li routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="list-group-item">Search country</li>
          <li routerLink="region"
              routerLinkActive="active" class="list-group-item">By region</li>
          <li routerLink="capital"
          routerLinkActive="active"
           class="list-group-item">By capital</li>
        </ul>

      </div>

      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
